{% extends 'Layout 1 Column' %}

    {% block main %}

    <!--Web Template to display a list of records, allow user to update course detail and update via Power Automate Http request-->
    <!--Nick Doelman-->
    <!--December 27, 2019-->

    <!-- CSS style for accordion panel -->
    <!-- accordion code from: https://www.w3schools.com/ -->

    <style>
    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordion:hover {
        background-color: #ccc;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    </style>

<!-- use FetchXML to retrieve data from CDS -->


    {% fetchxml courses %}

    <fetch version="1.0" output-format="xml-platform" mapping="logical" distinct='true' returntotalrecordcount='true'>
        <entity name="avngr_course" >
            <attribute name="avngr_coursedescription" />
            <attribute name="avngr_coursename" />
            <attribute name="avngr_courselevel" />
            <attribute name="avngr_cost" />
            <attribute name="avngr_courseid" />
        </entity>
    </fetch>

    {% endfetchxml %}

    <!-- assuming data is retrieved -->
    {% if courses.results.total_record_count > 0 %}

        <!-- for each course retrieve, show the name as the accordion section and description in text area to be edited -->
        <!-- use the GUID as the id for the textarea control to retrieve later -->
        <!-- pass the GUID to the JavaScript function to update record -->
        {% for course in courses.results.entities %}

            <button class="accordion">{{course.avngr_coursename}}</button>
            <div class="panel">
                <textarea id={{course.Id}} rows="4" cols="50">
                {{course.avngr_coursedescription}}
                </textarea>
                <button onclick="updaterecord('{{course.Id}}')">Update</button>
            </div>

        {% endfor %}

    {% else %}

        <h2>No records found.</h2>

    {% endif %}

    <script>

        //Accordion display as per https://www.w3schools.com/
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class, to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } 
            else {
                panel.style.display = "block";
                }
            });
        }

        //Update record by calling HTTP request Power Automate flow
         function updaterecord(id) {
            //alert("Update record: " + id);
            //alert("Update text: " + document.getElementById(id).value.trim());

            //build JSON string using values from display
            var courseupdate = '{ "course" : [' +
            '{ "courseid": "' + id +'", "coursedetail": "' + document.getElementById(id).value.trim() + '"} ]}';

            //build http request string using URL from Power Automate flow
            var req = new XMLHttpRequest();
            var url = "<Power Automate HTTP Request URL goes here>";

            //send https request to Power Automate
            req.open("POST", url, true);
            req.setRequestHeader('Content-Type', 'application/json');
            req.send(courseupdate);

            alert("updated");
                
        }



    </script>

{% endblock %}